        * {
            margin: 0;
            box-sizing: border-box;
            padding: 0%;
        }
        
        .container {
            margin: 0 auto;
            width: 600px;
            max-width: 100%;
        }
        
        .logo h1 {
            color: #000;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            background-color: white;
            text-align: center;
            padding: 1em 2.5em;
        }
        
        body {
            width: 100%;
            background-color: #f1f1f1;
        }
        
        .bg-image {
            width: 100%;
            background-image: url(bg_1.jpg);
            background-size: cover;
            height: 400px;
            text-align: center;
            display: flex;
            align-items: center;
        }
        
        .text {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        
        h2 {
            font-family: 'Playfair Display', serif;
            color: white;
            padding: 0%;
            padding-left: 20px;
            padding-right: 20px;
            margin: 5px;
            padding-top: 0 auto;
        }
        
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            color: white;
            text-align: center;
            padding: 4px;
        }
        
        .btn.btn-primary {
            border-radius: 30px;
            background: #f3a333;
            display: inline-block;
            color: #ffffff;
            border: 1px solid white;
            margin-top: 0px;
        }
        
        .btn {
            padding: 10px 15px;
            margin: 10px;
        }
        
        a {}
        
        a {
            text-decoration: none;
        }
        
        .bgcolor-dark {
            background: rgba(0, 0, 0, .8);
            align-items: center;
            text-align: center;
            padding: 3.5em;
        }
        
        .section2 {
            margin: 0 auto;
            width: 600px;
            max-width: 100%;
            height: 400px;
            color: ;
        }
        
        .bgcolor-white {
            background: #ffffff;
            align-items: center;
            text-align: center;
            padding: 1em 3em;
        }
        
        .section3 {
            margin: 0 auto;
            width: 600px;
            max-width: 100%;
            height: 400px;
            background: #ffffff;
            text-align: center;
            align-items: center;
        }
        
        .para {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            color: black;
            text-align: center;
        }
        
        .heading2 {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            color: black;
            text-align: center;
        }
        
        .icone {
            display: flex;
            justify-content: space-between;
        }
        
        .delicious {
            color: black;
        }
        
        .recipe {
            color: black;
        }
        
        h4 {
            color: #f1f1f1;
            display: flex;
            padding: 10;
        }
        
        .footer {
            background-color: #000;
            padding: 1.5em;
        }
        
        .footing {
            font-style: italic;
            justify-content: space-between;
            color: #ffffff;
            font-size: 20px;
            width: 100%;
        }
        
        a {
            color: white;
        }
        
        u {
            color: #f3a333;
        }
        
        .section3 h3 {
            padding-top: 20px;
        }